* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-1: rgb(223, 68, 68);
}
button, i {
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('../img/bruce-mars-gJtDg6WfMlQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 1;
    transition: filter .5s;
}
.container h1 {
    font-size: 6rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .6);
    margin: 4rem 0;
}
.btn {
    
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-weight: bold;
}
.btn:hover {
    /*
    filter: brightness(.3); */
    background: black;
    color: white;
    transition: .3s ease-in;
}
.hide {
    filter: blur(4px) brightness(.7);
}
.hidden {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}
.popup {
    position: fixed;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    transition: all .5s;
}
.popup h4 {
    color: var(--color-1);
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;

}
.popup div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}
.popup div label {
    color: var(--color-1);
    font-weight: bold;
    padding: 0 .5rem;
}
.popup div input {
    width: 100%;
    padding: .6rem;
    border-radius: 1rem;
    border: 1px solid var(--color-1);
}
.pop-btn {
    background: var(--color-1);
    color: white;
    align-self: center;
    padding: .6rem 1.4rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
}
.pop-btn:hover {
    background: transparent;
    border: 1px solid var(--color-1);
    color: var(--color-1);
}
.close {
    position: absolute;
    right: 20px;
    top: 15px;
    
}
.close i {
    font-size: 1.5rem;
    color: var(--color-1);
}
.close i:hover {
    color: red;
}